<div class="jumbotron vertical-center">
  <div class="container">

    <div class="card login-card">
      <div class="card-body">
        <h4 class="card-title text-center login-card-title">Log in</h4>
        <p class="card-text text-center login-card-text">
          Connect with the teachers around you or share your knowledges
        </p>
      </div>
    </div>

    <form class="w-100 p-3" class="form-inline" action="/auth" method="post">

      <label class="sr-only" for="email">Email</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text atsign">@</div>
        </div>
        <input class="form-control form-control-lg" type="text" name="email" class="form-control" id="email" placeholder="email">
      </div>

      <label class="sr-only" for="password">Password</label>
      <input type="password" name="password" class="form-control mb-2 mr-sm-2 form-control-lg" id="password"  placeholder="password">

      <button type="submit" class="btn btn-primary mb-2">Connect</button>
    </form>
    <p class="login-card-text">Don't have an account yet? Just <a href="/auth/signup">Sign up</a></p>
  </div>
</div>