<div class="container fullwith fullheight background-yellow">

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!--Content-->
    <div class="p-4">
      <h2 class="login-text-color color-violet">Log in</h2>
      <form action="/users/profile" method="post">
        <!-- Material input subject -->
        <div class="md-form form-sm">
          <input type="email" name="email" id="defaultLoginFormEmail" class="form-control form-control-sm">
          <label for="name">Email</label>
        </div>
        <div class="md-form form-sm">
          <input type="password" name="password" id="defaultLoginFormPassword" class="form-control form-control-sm">
          <label for="name">Password</label>
        </div>
        <div class="text-center mt-4 mb-2">
          <input class="btn button" type="submit" value="Log in">
          <p><a href="/users/" class="color-orange">Cancel</a> changes and go Home</p>
        </div>
      </form>
    </div>
  </div>
</div>

