@import '../mixins/reset';
@import '../mixins/variables';
@import '../mixins/login';
@import '../mixins/signup';
@import '../mixins/home';
@import '../mixins/miniclasscard';
@import '../mixins/classlist';
@import '../mixins/classcard';

// @include reset;
@include login;
@include signup;
@include home;
// @include miniclasscard;
// @include classcard;

.container {
  padding: 0px;
}

a {
  color: #AA269F; 
}

.background-violet {
  background-color: #AA269F; 
}

.background-orange {
  background-color: #FD6E42; 
}

.background-yellow {
  background-color: #FFDD5A; 
}

.color-violet {
  color: #AA269F; 
}

.color-orange {
  color: #FD6E42; 
}

.color-yellow {
  color: #FFDD5A; 
}

