@import '../mixins/reset';
@import '../mixins/variables';
@import '../mixins/login';
@import '../mixins/signup';
@import '../mixins/home';
@import '../mixins/miniclasscard';
@import '../mixins/classlist';
@import '../mixins/classcard';
@import '../mixins/profile';

@include home;

.container {
  padding: 0px;
  margin: 0px;
}

.fullwith {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.fullheight {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.background-violet {
  background-color: $violet; 
}

.background-orange {
  background-color: $orange; 
}

.background-yellow {
  background-color: $yellow; 
}

.color-violet {
  color: #AA269F; 
}

.color-orange {
  color: #FD6E42; 
}

.color-yellow {
  color: #FFDD5A; 
}

