<% if (msg.user.name === currentUser.name) {%>
  <div class="d-flex justify-content-end mb-4">
    <div class="msg-cotainer-send">
      <%= msg.content %>
    </div>
    <div class="img-cont-msg">
      <img src="<%= msg.user.avatar %>" class="rounded-circle user-img-msg">
    </div>
  </div>
<%}  else {%>
  <div class="d-flex justify-content-start mb-4">
    <div class="img-cont-msg">
      <img src="<%= msg.user.avatar %>" class="rounded-circle user-img-msg">
    </div>
    <div class="msg-cotainer">
        <%= msg.content %>
    </div>
  </div>
<% } %>