<div class="card mt-4 miniclasscard-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title miniclasscard-card-title"><%= lesson.title %></h5>
    <p class="card-text miniclasscard-card-text"><%= lesson.description %></p>
    <a href="<%= link %><%= lesson._id %>" class="btn btn-primary">View</a>
  </div>
</div>