<h1>Eklilikua</h1>
<% if (currentUser) { %>
<p>Welcome <%= currentUser.name %></p>
<% } %>


<nav>
  <ul>
      <% if (currentUser) { %>
        <li><a href="/users/">Go to your homepage</a></li>
        <li>
          <a href="/users/logout">Log out</a>
        </li>
      <% } else { %>
        <li>
          <a href="/auth">Log in</a>
        </li>
      <% } %>
    </ul>
</nav>
<ul>
  <% classes.forEach((lesson) => { %>
    <li class="list-group-item">
      <% var link = "/classes/"; %>
      <%- include('partials/miniclasscard', { lesson, link })%>
    </li>
  <% }) %>
</ul>

<p></p>

<form action="/classes/query" method="get">
  <input type="text" name="query" id="">
  <input type="submit" value="Knowledge search">
</form>

<p><%= copyright %></p>