<h1>Eklilikua</h1>
<% if (currentUser) { %>
<p>Welcome <%= currentUser.name %></p>
<% } %>


<nav>
  <ul>
      <% if (currentUser) { %>
        <li><a href="/users/">Go to your homepage</a></li>
        <li>
          <a href="/users/logout">Log out</a>
        </li>
      <% } else { %>
        <li>
          <a href="/auth">Log in</a>
        </li>
      <% } %>
    </ul>
</nav>

<p><%= copyright %></p>
<!-- Partial include example -->
<!-- <%- include('partials/form.ejs')%> -->