<h1>MEAN Starter Kit</h1>
<ul>
  <li>Express APP initial structure</li>
  <li>Ejs (Embedded Javascript Templates): Templating language that lets you generate HTML markup with plain JavaScript.</li>
  <li>Express ejs layouts: Layout support for ejs in express.</li>
  <li>ESLint: JavaScript code linting utility used to find problematic patterns or code that doesn't adhere to certain style guidelines.</li>
  <li>Nodemon: Utility that will monitor for any changes in your source and automatically restart your server.</li>
  <li>Mongodb: Open source database management system (DBMS) that uses a document-oriented database model.</li>
  <li>Bcrypt: Password hashing function.</li>
  <li>Express Session: Store user data between HTTP requests.</li>
  <li>Connect Flash: Uses flash area of the session for storing messages.</li>
  <li>Connect Mongo: Manage a connection to a MongoDB.</li>
  <li>Mongoose: Object Data Modeling (ODM) library for MongoDB and Node.js.</li>
  <li>Morgan: HTTP request logger middleware for node.js.</li>
  <li>Resset CSS stylesheet</li>
</ul>

<!-- Partial include example -->
<!-- <%- include('partials/form.ejs')%> -->