<h1>Eklilikua</h1>
<% if (currentUser) { %>
<p>Welcome <%= currentUser.name %></p>
<% } %>

<a href="/auth">Log in</a>

<p><%= copyright %></p>
<!-- Partial include example -->
<!-- <%- include('partials/form.ejs')%> -->