<div class="jumbotron vertical-center">
  <div class="degrade">
  </div> 
  <div class="d-flex flex-column align-content-center opacity">
    <div class="card-body">
      <h4 class="card-title text-center home-card-title">Ekilikua</h4>
      <p class="card-text text-center home-card-text">Knowledge is infinite. What do you wish to learn today?</p>
    </div>
    <div class="login-div">
      <% if (currentUser) { %>
        <button onclick="location.href='/users/'" type="button" class="btn btn-primary mt-4 mb-2 home-user-button">Go to your homepage</button>
        <p class="login-card-text">or <a href="/users/logout">Log out</a></p>
      <% } else { %>
        <button onclick="location.href='/auth/'" type="button" class="btn button-noviolet mt-4 mb-2 login-button">Log in</button> 
        <p class="login-card-text">or <a href="/auth/signup">Sign up</a></p>    
      <% } %>
    </div>
  </div>
</div>

<h2 class="home-class-list-title">What do you want to learn today?</h2>

<!-- Search form -->
<form class="form-inline md-form form-sm active-purple-2 mt-2 justify-content-center" action="/classes/query" method="get">
  <input class="form-control form-control-sm mr-3 w-75" type="text" name="query" placeholder="Knowledge search" aria-label="Search">
  <i class="fas fa-search" aria-hidden="true"></i>
</form>

<!-- OLD Search form -->
<!-- 
  <div class="wrap">
    <form action="/classes/query" method="get" class="home-search">
      <input type="text" name="query" id="" placeholder="Knowledge search" class="searchTerm">
      <button type="submit" class="searchButton"><i class="fas fa-search"></i></button>
    </form>
  </div>
-->

<div class="home-class-list container">
  <div class="col-12">
    <% classes.forEach((lesson) => { %>
      <% const link = "/classes/"; %>
      <%- include('partials/miniclasscard', { lesson, link })%>
    <% }) %>
  </div> 
</div>