<nav>
  <% if (currentUser) { %>
    <ul>
      <li><a href="/users/profile">Edit your profile</a></li>
      <li><a href="/users/classes">My Classes</a></li>
    </ul>
  <% } %>
</nav>
<h1>Eklilikua</h1>
<% if (currentUser) { %>
<p>Welcome <%= currentUser.name %></p>
<a href="/users/logout">Log out</a>
<% } else { %>
<a href="/auth">Log in</a>
<% } %>

<p><%= copyright %></p>
<!-- Partial include example -->
<!-- <%- include('partials/form.ejs')%> -->