<h2> Class options</h2>
<ul>
  <li>
    <a href="classes/new">Create a new class.</a>
  </li>
  <% if (currentUser.classes.length > 0) { %>
    <li>
    <a href="classes/own">What you are coaching.</a>
    </li>
  <% } %>
  <li>
    <a href="classes/attending">The classes you are attending.</a>
  </li>
  <li>
    <a href="classes/teaching">Booked classes to teach.</a>
  </li>
</ul>
<p><a href="/">Go back to home.</a></p>