<%- include('../partials/navbar')%>

<div>
  <!-- Card -->
  <div class="card miniclasscard-card">
    <!-- Card image -->
    <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap"> -->
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <h4 class="card-title card-title-own">Own classes</h4>
      <!-- Text -->
      <p class="card-text">Check your own created classes</p>
      <!-- Button -->
      <a href="/users/classes/own" class="btn button">See more</a>
    </div>
  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card miniclasscard-card">
    <!-- Card image -->
    <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap"> -->
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <h4 class="card-title card-title-own">Attending classes</h4>
      <!-- Text -->
      <p class="card-text">Check the classes you are attending</p>
      <!-- Button -->
      <a href="/users/classes/attending" class="btn button">See more</a>
    </div>
  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card miniclasscard-card">
    <!-- Card image -->
    <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap"> -->
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <h4 class="card-title card-title-own">Teaching classes</h4>
      <!-- Text -->
      <p class="card-text">Check the classes you are teaching</p>
      <!-- Button -->
      <a href="/users/classes/teaching" class="btn button">See more</a>
    </div>
  </div>
  <!-- Card -->
</div>
</div>
<%- include('../partials/backbutton.ejs')%>