<%- include('../partials/navbar')%>

<div>
  <!-- Card -->
  <div class="card miniclasscard-card">
    <!-- Card image -->
    <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap"> -->
    <!-- Card content -->
    <div class="card-body">
    <div class="d-flex flex-row justify-content-between mb-1">
      <div>
        <!-- Title -->
        <h3 class="card-title card-title-own"><i class="fas fa-lock-open"></i> What you teach</h3>
        <!-- Text -->
        <p class="card-text">The classes you've created</p>
      </div>
      <div class="d-flex align-items-center">
        <a href="/users/classes/own" class="btn button ml-4 button-myclasses">Check</a>
      </div>
    </div>
      <!-- Button -->
    </div>
  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card miniclasscard-card">
    <!-- Card image -->
    <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap"> -->
    <!-- Card content -->
    <div class="card-body">
    <div class="d-flex flex-row justify-content-between mb-1">
      <div>
        <!-- Title -->
        <h3 class="card-title card-title-own"><i class="fas fa-lock"></i> Booked classes</h3>
        <!-- Text -->
        <p class="card-text">Your classes with students</p>
      </div>
      <div class="d-flex align-items-center">
        <a href="/users/classes/teaching" class="btn button ml-4 button-myclasses">Check</a>
      </div>
    </div>
      <!-- Button -->
    </div>
  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card miniclasscard-card">
    <!-- Card image -->
    <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap"> -->
    <!-- Card content -->
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between mb-1">
        <div>
          <!-- Title -->
          <h3 class="card-title card-title-own"><i class="fas fa-user-graduate"></i> Attending classes</h3>
          <!-- Text -->
          <p class="card-text">The classes you'll be attending</p>
        </div>
        <div class="d-flex align-items-center">
          <a href="/users/classes/attending" class="btn button ml-4 button-myclasses">Check</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Card -->
</div>
</div>
<%- include('../partials/backbutton.ejs')%>