<nav>
  <% if (currentUser) { %>
    <ul>
      <li><a href="/users/profile">Edit your profile</a></li>
      <li><a href="/users/classes/own">What I teach</a></li>
      <li><a href="/users/classes/attending">Classes to attend</a></li>
      <li><a href="/users/classes/teaching">Classes to teach</a></li>
    </ul>
  <% } %>
</nav>