<div class="col-md-6 mb-4 img-professor">
  <img src="<%= user.avatar %>" class="img-fluid img-professor" alt="user avatar">
</div>

 <!--Grid column-->
 <div class="col-md-6 mb-4">

 <!--Content-->
  <div class="p-4">
    <h2>Your Profile</h2>
    <p>You have <span class="color-violet"><%= user.kuas %> K$</span>.</p>
    <form action="/users/profile" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= user.name %>" class="edit-description">
      <br>
      <!-- <label for="password">Password</label>
      <input class="profile-input" type="password" name="password" id="password" value=""> -->
      <% if (!user.description) {%>
        <label for="description">Description</label> 
        <input class="profile-input" type="description" name="description" id="description" class="edit-description" value="Add your description">
      <% } else {%>
        <label for="description">Description</label>
        <br>
        <input class="profile-input" type="description" name="description" id="description" class="edit-description" value="<%= user.description %>">
      <% } %>
      <br>
      <input class="btn button" type="submit" value="Accept changes">
    </form>
    <p><a href="/users/">Cancel</a> changes and go Home</p>
  </div>
 </div>

