<h2>Your Profile</h2>

<form action="/users/profile" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="<%= user.name %>">
  <!-- <label for="password">Password</label>
  <input type="password" name="password" id="password" value=""> -->
  <% if (!user.description) {%>
    <label for="description">Description</label>
    <input type="description" name="description" id="description" value="Add your description">
  <% } else {%>
    <label for="description">Description</label>
    <input type="description" name="description" id="description" value="<%= user.description %>">
  <% } %>
  <input type="submit" value="Accept changes">
</form>

<p>You have <%= user.kuas %> kuas.</p>

<p><a href="/users/">Cancel</a> changes and go Home</p>
