<div class="col-md-6 mb-4 img-professor">
  <img src="<%= user.avatar %>" class="img-fluid img-professor" alt="user avatar">
</div>

 <!--Grid column-->
 <div class="col-md-6 mb-4">

 <!--Content-->
  <div class="p-4">
    <h2><%= user.name %></h2>
    <p><%= user.description %></p>
    <div class="d-flex flex-row justify-content-center align-items-center w-100 mb-3">
      <a href="/" class="btn button">Go home</a>
      <% if (locals.currentUser._id == user._id) { %>
        <a href="/users/profile" class="btn button">Update</a>
      <% } %>
    </div>
  </div>
  
  
 </div>
 <%- include('../partials/backbutton.ejs')%>

