.avatar {
  vertical-align: middle;
  text-align: center;
  padding: 0.5em; }

.avatar > img {
  width: 25vh;
  height: 25vh;
  margin: 0 auto;
  border-radius: 50%; }

.submit {
  background-color: #4285f4;
  color: #ffffff; }

.a-color {
  color: #4285f4; }

.social-color {
  color: #4285f4; }

.login-text-color {
  color: white; }

.submit {
  background-color: #4285f4;
  color: #ffffff; }

.a-color {
  color: #4285f4; }

.social-color {
  color: #4285f4; }

.signup-text-color {
  color: white; }

.miniclasscard-card {
  margin: 2rem 1rem;
  padding: 0 0.25rem; }

.card-title-own {
  color: #AA269F; }

.button {
  background-color: #AA269F;
  color: #fff !important; }

.classlist-class-list-title {
  text-align: center; }

.navbar-background {
  background-color: #AA269F; }

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: white; }

.text-black {
  color: black; }

.classcard a {
  color: #AA269F; }

.category {
  padding: 0.5rem;
  font-size: 0.85rem; }

.icon-space {
  margin-right: 1rem;
  margin-bottom: 0; }

.img-professor {
  width: 100%;
  padding: 0; }

.img-little-avatar {
  width: 20%; }

.list-group-item {
  border: none !important;
  padding: .5rem 1rem; }

.other-button {
  background-color: #FD6E42; }

.delete-button {
  background-color: red; }

.p-4 {
  padding: 1.5rem 1.5rem 0rem 1.5rem !important; }

.button-myclasses {
  padding: 0.5rem 1rem; }

.profile-input {
  width: 100%;
  height: 8rem;
  margin-bottom: 1rem; }

.md-form input[type=date], .md-form input[type=datetime-local], .md-form input[type=email], .md-form input[type=number], .md-form input[type=password], .md-form input[type=search-md], .md-form input[type=search], .md-form input[type=tel], .md-form input[type=text], .md-form input[type=time], .md-form input[type=url], .md-form textarea.md-textarea {
  border-bottom: 1px solid #AA269F; }

.md-form label {
  color: #AA269F !important; }

.msg-container {
  width: 100%;
  display: flex;
  justify-content: center; }

.alerts {
  position: absolute;
  z-index: 10;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-align: center; }

.alerts-icon {
  padding-right: 1em; }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center; }

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1528605105345-5344ea20e269?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  padding: 0;
  z-index: 1; }

.degrade {
  background: linear-gradient(#AA269F, #FD6E42);
  opacity: 0.7;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2; }

.opacity {
  z-index: 3;
  position: absolute; }

.home > a {
  color: #FFDD5A; }

.home-card {
  background-color: #AA269F;
  border: none; }

.home-card-title {
  color: white;
  font-size: 3rem; }

.home-card-text {
  color: white; }

.login-div {
  text-align: center; }

.login-button, .home-user-button {
  width: 70%; }

.home-class-list {
  display: flex;
  flex-direction: column;
  align-items: center; }

.home-class-list-title {
  text-align: center;
  margin: 2rem auto; }

.active-pink-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #AA269F;
  box-shadow: 0 0 0 1px #AA269F; }

.searchForm {
  display: flex;
  justify-content: center; }

.copyright {
  text-align: center; }

.button-noviolet {
  background-color: #FD6E42; }

body {
  font-family: 'Quicksand', sans-serif; }

.container {
  padding: 0px;
  margin: 0px; }

.fullwith {
  width: 100vw;
  margin: 0;
  padding: 0; }

.fullheight {
  height: 100vh;
  margin: 0;
  padding: 0; }

.background-violet {
  background-color: #AA269F; }

.background-orange {
  background-color: #FD6E42; }

.background-yellow {
  background-color: #FFDD5A; }

.color-violet {
  color: #AA269F; }

.color-orange {
  color: #FD6E42; }

.color-yellow {
  color: #FFDD5A; }

/*# sourceMappingURL=style.css.map */