.msg-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.alerts {
  position: absolute;
  z-index: 10;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-align: center;
}

.alerts-icon {
  padding-right: 1em;
}