.classlist-class-list-title {
  text-align: center;
  margin: auto 1rem;
}

.navbar-background {
  background-color: $violet;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
}

.text-black{
  color: black;
  margin: 1rem;
  text-align: center;
}
