.classcard a {
  color: $violet;
}

.category {
  padding: 0.5rem;
  font-size: 0.85rem;
}

.icon-space {
  margin-right: 1rem;
  margin-bottom: 0;
}

.img-professor {
  width: 100%;
  padding: 0;
}

.img-little-avatar {
  width: 20%;
}

.list-group-item {
  border: none!important;
  padding: .5rem 1rem;
}

.other-button {
  background-color: $yellow;
  color: black!important;
}

.delete-button {
  background-color: $orange;
}

.p-4 {
  padding: 1.5rem 1.5rem 0rem 1.5rem!important;
}

.button-myclasses {
  padding: 0.5rem 1rem;
}

.frequency {
  margin-top: 0
}

// This is to change focus color in forms.
.md-form input[type=text]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=date]:focus:not([readonly]),  .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
  -webkit-box-shadow: 0 1px 0 0 $violetoriginal;
  box-shadow: 0 1px 0 0 $violetoriginal;
  border-bottom: 1px solid $violetoriginal;
}