.miniclasscard-card {
  margin: 2rem 1rem;
  padding: 0 0.25rem;
}

.card-title-own {
  color: $violet;
}

.button {
  background-color: $violet;
  color: #fff;
}

.purple {
  background-color: $violet;
}

.orange {
  background-color: $orange
}

.icon-space {
  margin-right: 0.5rem;
  margin-bottom: 0;
}

// .img-professor {
//   max-width: 100%;
//   position: absolute;
// }