.classcard a {
  color: $violet;
}

.category {
  padding: 0.5rem;
  font-size: 0.85rem;
}

.icon-space {
  margin-right: 1rem;
  margin-bottom: 0;
}

.img-professor {
  width: 100%;
  padding: 0;
}

.img-little-avatar {
  width: 20%;
}

.list-group-item {
  border: none!important;
  padding: .5rem 1rem;
}

.other-button {
  background-color: $yellow;
  color: black!important;
}

.delete-button {
  background-color: $orange;
}

.p-4 {
  padding: 1.5rem 1.5rem 0rem 1.5rem!important;
}

.button-myclasses {
  padding: 0.5rem 1rem;
}