.category {
  padding: 0.5rem;
  font-size: 0.85rem;
}

.icon-space {
  margin-right: 1rem;
  margin-bottom: 0;
}

.img-professor {
  width: 100%;
  padding: 0;
}

.img-little-avatar {
  max-width: 20%;
}

.list-group-item {
  border: none!important;
}

.avatar-list {
  display: flex;
}