@mixin home {
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  // .jumbotron {
  //   background-image: url("https://images.unsplash.com/photo-1528605105345-5344ea20e269?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  // }

  .jumbotron {
    background-image: url("https://images.unsplash.com/photo-1528605105345-5344ea20e269?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-position-x: 70%;
    background-position-y: center;
    background-size: cover;
    padding: 0;
    z-index: 1;
    margin-bottom: unset !important;
  }
// Idea of how to make a gradient over an image
  // body{
  //   $colorStart: rgba(0,0,0,0);
  //   $colorEnd: rgba(0,0,0,0.8);
  //   @include background-image(linear-gradient(to bottom, $colorStart, $colorEnd), url("bg.jpg"));
  // }

  .degrade {
    background: linear-gradient($violet, $orange);
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
  }

  .opacity {
    z-index: 3;
    position: absolute;
  }

  .home > a {
    color: $yellow;
  }

  .home-img {
    width: 40%;
    height: 40%;
  }

  .home-card {
    background-color: $violet;
    border: none;
  }
  .home-card-title {
    color: white;
    font-size: 3rem;
  }

  .home-card-text {
    color: white;
  }

  .login-div {
    text-align: center;
  }
  
  .home-button {
    width: 70%;
    border: 2px solid white; 
  }

  .home-button:hover {
    max-width: 70%;
    background-color: #FFEFE9; 
    color: $orange;
    font-weight: bold;
  }

  .home-class-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-class-list-title {
    text-align: center;
    margin: 2rem 0.7rem;
  }

  .active-pink-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid $violet;
    box-shadow: 0 0 0 1px $violet;
  }

  .searchForm {
    display: flex;
    justify-content: center;
  }

  .copyright {
    text-align: center;
    margin-bottom: 0!important
  }
}