@mixin home {
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .jumbotron {
    background-color: #AC51E1;
  }

  a {
    color: rgb(248, 170, 0);
  }

  .home-card {
    background-color: #AC51E1;
    border: none;
  }
  .home-card-title {
    color: white;
    font-size: 3rem;
  }

  .home-card-text {
    color: white;
  }

  .login-div {
    text-align: center;
  }

  .login-button, .home-user-button {
    width: 70%;
  }

}