@mixin home {
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .jumbotron {
    background-color: $violet;
  }

  .home > a {
    color: $yellow;
  }

  .home-card {
    background-color: $violet;
    border: none;
  }
  .home-card-title {
    color: white;
    font-size: 3rem;
  }

  .home-card-text {
    color: white;
  }

  .login-div {
    text-align: center;
  }

  .login-button, .home-user-button {
    width: 70%;
  }

  .home-class-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-class-list-title {
    text-align: center;
    margin: 2rem auto;
  }

  .active-pink-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid $violet;
    box-shadow: 0 0 0 1px $violet;
  }

  .searchForm {
    display: flex;
    justify-content: center;
  }

  .copyright {
    text-align: center;
  }

  .button-noviolet {
    background-color: $orange;
  }

  // .wrap{
  //   width: 70%;
  //   justify-content: center;
  //   padding: 0.2rem;
  //   padding-left: 2rem;
  //   padding-bottom: 3rem;
  // }

  // .home-search {
  //   width: 100%;
  //   position: relative
  // }

  // .searchTerm {
  //   float: left;
  //   width: 100%;
  //   border: 2px solid $violet;
  //   padding: 5px;
  //   border-radius: 5px;
  //   outline: none;
  //   color: $violet;
  // }
  
  // .searchTerm:focus{
  //   color: $violet;
  // }

  // .searchButton {
  //   position: absolute;  
  //   right: -50px;
  //   width: 40px;
  //   height: 36px;
  //   border: 2px solid $yellow;
  //   background: $yellow;
  //   text-align: center;
  //   color: #fff;
  //   border-radius: 5px;
  //   cursor: pointer;
  //   font-size: 20px;
  // }
}