@mixin login {
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .atsign {
    background-color: white;
  }

  .jumbotron {
    background-color: $violet;
  }

  .signup-login > a {
    color: $yellow;
  }

  .login-card {
    background-color: $violet;
    border: none;
  }
  .login-card-title {
    color: white;
    font-size: 3rem;
  }

  .login-card-text, .form-check-label {
    color: white;
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

}
