.avatar {
  vertical-align: middle;
  text-align: center;
  padding: 0.5em;
}

.avatar>img{
  width: 25vh;
  height: 25vh;
  margin: 0 auto;
  border-radius: 50%;
}

.submit {
  background-color: #4285f4;
  color: #ffffff;
}

.a-color{
  color: #4285f4;
}

.social-color{
  color: #4285f4;
}

.login-text-color {
  color: white;
}
