.profile-input {
  width: 100%;
  height: 8rem;
  margin-bottom: 1rem;
}

.md-form input[type=date], .md-form input[type=datetime-local], .md-form input[type=email], .md-form input[type=number], .md-form input[type=password], .md-form input[type=search-md], .md-form input[type=search], .md-form input[type=tel], .md-form input[type=text], .md-form input[type=time], .md-form input[type=url], .md-form textarea.md-textarea {
  border-bottom: 1px solid $violet;
}

.md-form label {
  color: $violet!important;
}

