@mixin signup {
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .jumbotron {
    background-color: #AC51E1;
  }

  a {
    color: rgb(248, 170, 0);
  }

  .signup-card {
    background-color: #AC51E1;
    border: none;
  }
  .signup-card-title {
    color: white;
    font-size: 3rem;
  }

  .signup-card-text {
    color: white;
  }
 
}
