<h2><%= title %></h2>
<ul>
  <% classes.forEach((class) => { %>
    <li>
      <a href="own/<%= class._id %>"> <%= class.title %> </a>
    </li>
  <% }) %>
</ul>
<a href="new">Create a new class</a>
<p><a href="/">Go Home</a></p>