<h2>You are going to teach this new class</h2>
<form action="/users/classes/new" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" id="title">
  <label for="category">Category</label>
  <input type="text" name="category" id="category">
  <label for="subcategory">Subcategory</label>
  <input type="text" name="subcategory" id="subcategory">
  <label for="level">Level</label>
  <input type="text" name="level" id="level">
  <label for="description">Description</label>
  <input type="text" name="description" id="description">
  <label for="days">Days</label>
  <input type="text" name="days" id="days">
  <label for="schedule">Schedule</label>
  <input type="number" name="schedule" id="schedule">
  <label for="duration">Duration in minutes</label>
  <input type="number" name="duration" id="duration">
  <label for="price">Price per class in €</label>
  <input type="number" name="price" id="price">
  <input type="submit" value="Accept changes">
</form>
<p><a href="/user">Cancel</a> changes and go Home</p>
