<h2><%= currentUser.name %> Classes</h2>
<ul>
  <% classes.forEach((element) => { %>
    <li>
      <a href="own/<%= element._id %>"> <%= element.title %> </a>
    </li>
  <% }) %>
</ul>
<a href="classes/new">Create a new class</a>
<p><a href="/">Go Home</a></p>
