<nav>
  <ul>
      <% if (currentUser) { %>
        <li><a href="/users/">Go to your homepage</a></li>
        <li>
          <a href="/users/logout">Log out</a>
        </li>
      <% } else { %>
        <li>
          <a href="/auth">Log in</a>
        </li>
      <% } %>
    </ul>
</nav>
<br>
<% if (view === 'all') { %>
  <h2>What do you want to learn today?</h2>
<% } else if (view === 'own') { %>
  <h2>Classes you own</h2>
<% } else if (view === 'attending') { %>
  <h2>Classes you are attending</h2>
<% } else if (view === 'teaching') { %>
  <h2>Classes you are teaching</h2>
<% } %>

<ul>
  <% classes.forEach((element) => { %>
    <li class="list-group-item">
      <a href="/classes/<%= element._id %>">
        <%= element.title %>
      </a>
    </li>
  <% })%>
</ul>
<% if (view === 'own') { %>
  <a href="/users/classes/new">New class</a>
<% } %>
<p><a href="/">Home</a></p>
