<%- include('../partials/navbar')%>

<% var link = "/users/classes/"; %>
<% switch (view) {
  case 'all' : %>
    <h2 class="classlist-class-list-title container">What do you want to learn today?</h2>
    <% link += 'all/'; %>
    <% break;
  case 'own' : %>
    <h2 class="classlist-class-list-title">Classes you want to teach</h2>
    <% link += 'own/'; %>
    <% break;
  case 'attending' : %>
    <h2 class="classlist-class-list-title">Classes you are attending</h2>
    <% link += 'attending/'; %>
    <% break;
  case 'teaching' : %>
    <h2 class="classlist-class-list-title">Classes you are teaching</h2>
    <% link += 'teaching/'; %>
    <% break; } %>
    
<div class="home-class-list container">
  <div class="col-12">
    <% classes.forEach((lesson) => { %>
    <% const link = "/classes/"; %>
    <%- include('../partials/miniclasscard', { lesson, link })%>
    <% }) %>
  </div> 
</div>