<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-background scrolling-navbar">
<div class="container">

  <!-- Brand -->
  <a class="navbar-brand waves-effect" href="/">
    <strong class="white-text">Ekilikua</strong>
  </a>

  <!-- Collapse -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Left -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-effect" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <% if (view === 'own') { %>
      <li class="nav-item">
        <a class="nav-link waves-effect" href="/users/classes/new">New class</a>
      </li>
      <% } %>
      <% if (currentUser) { %>
      <li class="nav-item">
        <a class="nav-link waves-effect" href="/users/">Go to your homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect" href="/users/logout">Log out</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link waves-effect" href="/auth">Log in</a>
      </li>
      <% } %>
    </ul>
  </div>

</div>
</nav>
<!-- Navbar -->

<nav>
  <ul>
      <% if (currentUser) { %>
        <li><a href="/users/">Go to your homepage</a></li>
        <li>
          <a href="/users/logout">Log out</a>
        </li>
      <% } else { %>
        <li>
          <a href="/auth">Log in</a>
        </li>
      <% } %>
    </ul>
</nav>

<% var link = "/users/classes/"; %>
<% switch (view) {
  case 'all' : %>
    <h2 class="classlist-class-list-title container">What do you want to learn today?</h2>
    <% link += 'all/'; %>
    <% break;
  case 'own' : %>
    <h2 class="classlist-class-list-title">Classes you want to teach</h2>
    <% link += 'own/'; %>
    <% break;
  case 'attending' : %>
    <h2 class="classlist-class-list-title">Classes you are attending</h2>
    <% link += 'attending/'; %>
    <% break;
  case 'teaching' : %>
    <h2 class="classlist-class-list-title">Classes you are teaching</h2>
    <% link += 'teaching/'; %>
    <% break; } %>
    
 <div class="home-class-list container">
  <div class="col-12">
    <% classes.forEach((lesson) => { %>
    <% const link = "/classes/"; %>
    <%- include('../partials/miniclasscard', { lesson, link })%>
    <% }) %>
  </div> 
</div>

<p class="copyright"><%= copyright %></p>
