<%- include('../partials/navbar')%>

<% var link = "/users/classes/"; %>
<% switch (view) {
  case 'all' : %>
    <h2 class="classlist-class-list-title container">What do you want to learn today?</h2>
    <% link += 'all/'; %>
    <% break;
  case 'own' : %>
    <h2 class="classlist-class-list-title ">Classes you would like to teach</h2>
    <% link += 'own/'; %>
    <div class="d-flex flex-row justify-content-center align-items-center w-100 mb-3 mt-4">
      <a href="/users/classes/new" class="btn button">New class</a>
    </div>
    <% break;
  case 'attending' : %>
    <h2 class="classlist-class-list-title">Classes you are attending</h2>
    <% link += 'attending/'; %>
    <div class="d-flex flex-row justify-content-center align-items-center w-100 mb-3 mt-4">
      <a href="/" class="btn button">Check more classes</a>
    </div>
    <% break;
  case 'teaching' : %>
    <h2 class="classlist-class-list-title">Classes you are teaching</h2>
    <% link += 'teaching/'; %>
    <p class="text-black">Get more attendees at your classes, share your profile</p>
    <div class="d-flex flex-row justify-content-center align-items-center w-100 mb-3 mt-3">
    <span>
      <a type="button" class="mx-2">
      <i class="fab fa-facebook-f"></i>
      </a>
      <a type="button" class="mx-2">
      <i class="fab fa-twitter"></i>
      </a>
      <a type="button" class="mx-2">
      <i class="fab fa-linkedin-in"></i>
      </a>
      <a type="button" class="mx-2">
      <i class="fab fa-github"></i>
      </a>
    </span>
    </div>
    <% break; } %>
    
<div class="home-class-list container">
  <div class="col-12">
    <% classes.forEach((lesson) => { %>
      <% const link = "/classes/"; %>
      <%- include('../partials/miniclasscard', { lesson, link })%>
    <% }) %>
  </div> 
</div>
<%- include('../partials/backbutton.ejs')%>
