<nav>
  <% if (currentUser) { %>
    <ul>
      <li><a href="/users/profile">Edit your profile</a></li>
      <li><a href="/users/classes">My Classes</a></li>
    </ul>
  <% } %>
</nav>
<br>
<h2> What do you want to learn today </h2>
<ul>
  <% availableClasses.forEach((element) => { %>
    <li class="list-group-item">
      <a href="/classes/<%= element._id %>">
        <%= element.title %>
      </a>
    </li>
  <% })%>
</ul>
<p><a href="/">Home</a></p>
