<nav>
    <ul>
      <% if (currentUser) { %>
        <li><a href="/users/">Go to your homepage</a></li>
        <li>
          <a href="/users/logout">Log out</a>
        </li>
      <% } else { %>
        <li>
          <a href="/auth">Log in</a>
        </li>
      <% } %>
    </ul>
  </nav>
  <br>
  
  <h2>Query results: </h2>
  
  <ul>
    <% if (!(Array.isArray(classes))) { %>
      <p>Oops! There is no result four your query. What about?..</p>
      <%- include('../partials/miniclasscard', { lesson: classes, link: "/classes/" })%>
    <% } else { %>
      <% classes.forEach((lesson) => { %>
        <li class="list-group-item">
          <%- include('../partials/miniclasscard', { lesson, link: "/classes/" })%>
        </li>
      <% })%>
    <% } %>
  </ul>

  <p><a href="/">Home</a></p>
  