<%- include('../partials/navbar')%>
  
<h2>Query results: </h2>

<ul>
  <% if (!(Array.isArray(classes))) { %>
    <p>Oops! There is no result four your query. What about?..</p>
    <br>
    <%- include('../partials/miniclasscard', { lesson: classes, link: "/classes/" })%>
  <% } else { %>
    <% classes.forEach((lesson) => { %>
      <li class="list-group-item">
        <%- include('../partials/miniclasscard', { lesson, link: "/classes/" })%>
      </li>
    <% })%>
  <% } %>
</ul>
  