<%- include('../partials/navbar')%>
  
<h2 class="classlist-class-list-title container">KNOWLEDGE SEARCH </h2>

<div class="home-class-list container">
  <div class="col-12">
    <% if (!(Array.isArray(classes))) { %>
      <br>
      <p class="card-text text-center text-black">Oops! There is no result four your search (yet). <br> But what about...</p>
      <br>
      <%- include('../partials/miniclasscard', { lesson: classes, link: "/classes/" })%>
    <% } else { %>
      <% classes.forEach((lesson) => { %>
        <% const link = "/classes/"; %>
        <%- include('../partials/miniclasscard', { lesson, link })%>
      <% }) %>
    <% } %>
  </div> 
</div>
<%- include('../partials/backbutton.ejs')%>